body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-145px;
  width:499px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2162 {
  position:absolute;
  left:145px;
  top:91px;
  width:473px;
  height:954px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:741px;
}
#u2164 {
  position:absolute;
  left:173px;
  top:195px;
  width:416px;
  height:740px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:362px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:17px;
}
#u2166 {
  position:absolute;
  left:177px;
  top:196px;
  width:412px;
  height:17px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:0px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u2169 {
  position:absolute;
  left:168px;
  top:214px;
  width:418px;
  height:41px;
  text-align:left;
}
#u2170 {
  position:absolute;
  left:2px;
  top:12px;
  width:414px;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2171 {
  position:absolute;
  left:175px;
  top:219px;
  width:30px;
  height:30px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:47px;
}
#u2173 {
  position:absolute;
  left:154px;
  top:260px;
  width:455px;
  height:46px;
  text-align:left;
}
#u2174 {
  position:absolute;
  left:2px;
  top:15px;
  width:451px;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:47px;
}
#u2175 {
  position:absolute;
  left:153px;
  top:304px;
  width:491px;
  height:46px;
  text-align:left;
}
#u2176 {
  position:absolute;
  left:2px;
  top:15px;
  width:487px;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:47px;
}
#u2177 {
  position:absolute;
  left:153px;
  top:350px;
  width:466px;
  height:46px;
  text-align:left;
}
#u2178 {
  position:absolute;
  left:2px;
  top:15px;
  width:462px;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2179 {
  position:absolute;
  left:197px;
  top:395px;
  width:370px;
  height:1px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2181 {
  position:absolute;
  left:200px;
  top:304px;
  width:370px;
  height:1px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2183 {
  position:absolute;
  left:201px;
  top:349px;
  width:370px;
  height:1px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
