body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-102px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2963 {
  position:absolute;
  left:102px;
  top:0px;
  width:473px;
  height:954px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:741px;
}
#u2965 {
  position:absolute;
  left:130px;
  top:104px;
  width:416px;
  height:740px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:362px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:17px;
}
#u2967 {
  position:absolute;
  left:134px;
  top:105px;
  width:412px;
  height:17px;
}
#u2968 {
  position:absolute;
  left:2px;
  top:0px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u2969 {
  position:absolute;
  left:125px;
  top:123px;
  width:418px;
  height:41px;
  text-align:left;
}
#u2970 {
  position:absolute;
  left:2px;
  top:12px;
  width:414px;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2971 {
  position:absolute;
  left:134px;
  top:128px;
  width:30px;
  height:30px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:47px;
}
#u2973 {
  position:absolute;
  left:130px;
  top:164px;
  width:415px;
  height:46px;
  text-align:left;
}
#u2974 {
  position:absolute;
  left:2px;
  top:14px;
  width:411px;
  word-wrap:break-word;
}
#u2975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:47px;
}
#u2975 {
  position:absolute;
  left:130px;
  top:225px;
  width:415px;
  height:46px;
  font-size:15px;
  text-align:left;
}
#u2976 {
  position:absolute;
  left:2px;
  top:14px;
  width:411px;
  word-wrap:break-word;
}
#u2977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2977 {
  position:absolute;
  left:251px;
  top:296px;
  width:175px;
  height:44px;
  font-size:17px;
  color:#FFFFFF;
}
#u2978 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
