body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-115px;
  width:504px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2107 {
  position:absolute;
  left:115px;
  top:115px;
  width:473px;
  height:954px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:741px;
}
#u2109 {
  position:absolute;
  left:143px;
  top:219px;
  width:416px;
  height:740px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:362px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:17px;
}
#u2111 {
  position:absolute;
  left:147px;
  top:220px;
  width:412px;
  height:17px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:0px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u2114 {
  position:absolute;
  left:143px;
  top:238px;
  width:418px;
  height:41px;
  text-align:left;
}
#u2115 {
  position:absolute;
  left:2px;
  top:12px;
  width:414px;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2116 {
  position:absolute;
  left:150px;
  top:243px;
  width:30px;
  height:30px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:47px;
}
#u2118 {
  position:absolute;
  left:129px;
  top:284px;
  width:455px;
  height:46px;
  text-align:left;
}
#u2119 {
  position:absolute;
  left:2px;
  top:15px;
  width:451px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:47px;
}
#u2120 {
  position:absolute;
  left:128px;
  top:328px;
  width:491px;
  height:46px;
  text-align:left;
}
#u2121 {
  position:absolute;
  left:2px;
  top:15px;
  width:487px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:47px;
}
#u2122 {
  position:absolute;
  left:128px;
  top:374px;
  width:466px;
  height:46px;
  text-align:left;
}
#u2123 {
  position:absolute;
  left:2px;
  top:15px;
  width:462px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u2124 {
  position:absolute;
  left:157px;
  top:326px;
  width:392px;
  height:1px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u2126 {
  position:absolute;
  left:161px;
  top:374px;
  width:392px;
  height:1px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u2128 {
  position:absolute;
  left:159px;
  top:422px;
  width:392px;
  height:1px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
