body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-97px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2723 {
  position:absolute;
  left:97px;
  top:0px;
  width:473px;
  height:954px;
}
#u2724 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:741px;
}
#u2725 {
  position:absolute;
  left:125px;
  top:104px;
  width:416px;
  height:740px;
}
#u2726 {
  position:absolute;
  left:2px;
  top:362px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:17px;
}
#u2727 {
  position:absolute;
  left:129px;
  top:105px;
  width:412px;
  height:17px;
}
#u2728 {
  position:absolute;
  left:2px;
  top:0px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u2730 {
  position:absolute;
  left:126px;
  top:124px;
  width:418px;
  height:41px;
  text-align:left;
}
#u2731 {
  position:absolute;
  left:2px;
  top:12px;
  width:414px;
  word-wrap:break-word;
}
#u2732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2732 {
  position:absolute;
  left:133px;
  top:129px;
  width:30px;
  height:30px;
}
#u2733 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:16px;
}
#u2734 {
  position:absolute;
  left:126px;
  top:165px;
  width:414px;
  height:15px;
}
#u2735 {
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:21px;
}
#u2736 {
  position:absolute;
  left:137px;
  top:191px;
  width:398px;
  height:20px;
  font-size:15px;
}
#u2737 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u2738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u2738 {
  position:absolute;
  left:145px;
  top:219px;
  width:365px;
  height:1px;
}
#u2739 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:21px;
}
#u2740 {
  position:absolute;
  left:138px;
  top:230px;
  width:398px;
  height:20px;
  font-size:15px;
}
#u2741 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u2742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u2742 {
  position:absolute;
  left:183px;
  top:270px;
  width:300px;
  height:40px;
  font-size:17px;
}
#u2743 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
